h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.clase {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.barf {
  font-family: Arial, Helvetica, sans-serif;
}
.chachi{
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  color: green;
}

